.header__container {
  display: none;
  //display: flex;
  //align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  display: flex;
  margin-left: 88px;

  li:not(:last-child) {
    margin-right: 50px;
  }

  @media screen and (min-width: $desktop){
    margin-left: 93px;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $animation-cubic;

  color: $main-text-color;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
  font-style: normal;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
  }

  &--active::before,
  &--active::after {
    background-color: $accent-color;
  }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

//CONTACTS

.contacts {
  display: block;
  margin-left: 68px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop){
    display: flex;
    margin-left: 322px;

    li:first-child{
      margin-right: 30px;
    }
    
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  transition: $animation-cubic;

  color: $second-text-color;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &--padding-top {
      padding-top: 16px;
    }
    &--padding-bottom {
      padding-bottom: 16px;
    }
  }
}

.contacts__mail-icon {
  margin-right: 8px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.contacts__phone-icon {
  margin-right: 8px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

//ICONS
