.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  // width: 100%;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/phone.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background-color: #2f303a;
  text-align: center;

  @media screen and (min-width: 570px) and (max-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tablet.jpg);
    //background-size: auto;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;

    //background-size: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/desktop.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: white;
  border-radius: 4px;
  display: inline-block;
  transition: color $animation-cubic;

  background-color: $accent-color;
  border: 1px solid transparent;
  padding: 10px 24px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8; /* 187.5% */
  letter-spacing: 0.96px;

  @media screen and (min-width: $desktop) {
    padding: 10px 32px;
  }

  &:hover,
  &:focus {
    background-color: #fff;
    color: $accent-color;
  }
}
